<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <form action="/shorten" method="post" id="shorten-form">
        <div>
          <label for="url">Enter URL:</label>
          <input
            type="url"
            id="url"
            name="url"
            required
            placeholder="enter url"
          />
        </div>
        <div>
          <label for="shortCode">Custom Short URL (Optional):</label>
          <input
            type="text"
            id="shortCode"
            name="shortCode"
            placeholder="enter shortCode"
          />
        </div>
        <button type="submit">Shorten</button>
      </form>

      <h2>Shortened URLs</h2>
      <ul id="shortened-urls">
        <% links.map(({shortCode,url}) =>{ %> <% const trucatedUrl =
        url.length>= 25 ? `${url.slice(0,25)}...` : url %>
        <li>
          <a href="/<%= shortCode %>" target="_blank"
            ><%= host %>/<%= shortCode %></a
          >
          - <%= trucatedUrl %>
        </li>

        <% }); %>
      </ul>
    </div>
  </body>
</html>
